/*----------------------------*/
/* ------ BASIC SETUP ------- */
/*----------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	background-color: #1c1b1b;
}

p,
h1,
h2,
h3,
h4,
h5,
.logo-text,
.white-icon {
	color: white;
}

::placeholder {
  color: white;
}

/*----------------------------*/
/* --- REUSABLE COMPONENTS -- */
/*----------------------------*/

.clearfix {
	content: " ";
	clear: both;
}

section {
	padding-bottom: 50px;
}

/* -------- BUTTONS  ------- */

.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 0;
}

.btn:link,
.btn:visited,
input[type=submit] {
  border: 0;
  padding: 5px 25px;
  color: white;
  background-color: #1a98f1;
  font-size: 80%;
  transition: background-color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #1472b4;
}


/*----------------------------*/
/* -------- HEADING --------- */
/*----------------------------*/

.follow-us-box {
	float: right;
	margin-top: 5px;
	margin-right: 100px;
}

.follow-us-text {
	font-size: 80%;
	margin-bottom: 0;
}

.fa-twitter-square:hover,
.fa-twitter-square:active {
	color: #00aced;
}

.fa-facebook-square:hover,
.fa-facebook-square:active {
	color: #3b5998;
}

.fa-instagram:hover,
.fa-instagram:active {
	color: #8a3ab9;
}

.fa-twitter-square,
.fa-facebook-square,
.fa-instagram {
	transition: color 0.2s;
}

/*----------------------------*/
/* -------- Carousel -------- */
/*----------------------------*/

.carousel {
	height: 600px;
  width: 100%;
	position: relative;
}

.carousel-img {
	width: 100%;
	height: 600px;
}

.logo {
	position: absolute;
  top: -40px;
	margin-left: 100px;
	background-color: black;
	padding: 10px 20px;
}


/*----------------------------*/
/* ------- Main Navbar ------ */
/*----------------------------*/

.main-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0px;
  width: 80%;
  height: 70px;
  margin-left: 10%;
  margin-bottom: 0px;
  z-index: 9999;
}

.main-nav li {
	display: inline-block;
  height: 100%;
  width: 20%;
  text-align: center;
}

.main-nav li:first-of-type {
  margin-left: 10%;
}

.main-nav li:last-of-type {
  margin-right: 5%;
}

.main-nav li a:link, 
.main-nav li a:visited{
  font-size: 130%;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
/*  padding: 10px 10px;*/
  padding: 15px 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active{
  background-color: #1a98f1;
}

/*----------------------------*/
/* ------ Main Section ------ */
/*----------------------------*/

.section-main {
  margin: 0 5%;
  padding-bottom: 100px;
}

/* ------ Top Box ------ */

.top-box h3 {
  font-size: 160%;
}

.top-box p {
  margin-bottom: 0;
  line-height: 145%;
  word-spacing: 3px;
  font-size: 80%;  
}

.top-box p:first-child {
  margin-top: 10px;
}

.top-box p:last-child {
  margin-top: 30px;
  margin-bottom: 40px;
}

.top-box p:last-child:after {
  display: block;
  content: " ";
  height: 1px;
  background-color: #393939;
  width: 100%;
  margin: 40px 0;
}

/* ------ Bottom Box ------ */

.bottom-box h4 {
  margin-bottom: 20px;
}



/*----------------------------*/
/* ---------- FORM ---------- */
/*----------------------------*/

.find-box {
  margin-left: 10px;
}

.find-box h3 {
  font-size: 160%;
  margin-bottom: 0;
}

.element-box {
  margin-bottom: 30px;
}

.element-box label {
  font-size: 80%;
  color: white;
}

.find-box .element-box:first-child {
  margin-top: 10px;
}

/* ------- FORM ELEMENTS ------- */

input[type=text],
select {
  width: 100%;
  height: 130%;
  font-size: 80%;
  background-color: #2c2b2b;
  color: white;
  border: 0;
  padding-left: 15px;
}


/*----------------------------*/
/* --------- RESORTS -------- */
/*----------------------------*/

.resort-box {
  width: 100%;
}

.resort-img {
  width: 100%;
  height: auto;
  border: 3px solid #ffffff; 
}

.resort-name {
  margin: 15px 0;
}

.resort-name h5 {
  margin-bottom: 0;
}

.resort-desc {
  margin-left: 0;
  margin-bottom: 10px;
}

.resort-desc p {
  font-size: 70%;
  margin-right: 15px;
}

.resort-box .btn-more {
  margin: 0;
}

/*----------------------------*/
/* --------- FOOTER --------- */
/*----------------------------*/

footer {
  background-color: #0f0f0f;
  height: 100px;
}

.copyright {
  padding-top: 20px;
  display: block;
  text-align: center;
}

.copyright p{
  font-size: 65%;
  margin-bottom: 20px;
}

.copyright p:last-of-type {
  margin-bottom: 0;
}